<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pill.mapper.PillFactoryMapper">
    
    <resultMap type="PillFactory" id="PillFactoryResult">
        <result property="factoryId"    column="factory_id"    />
        <result property="factoryName"    column="factory_name"    />
        <result property="factoryCode"    column="factory_code"    />
        <result property="contact"    column="contact"    />
        <result property="phone"    column="phone"    />
        <result property="keyword"    column="keyword"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPillFactoryVo">
        select factory_id, factory_name, factory_code, contact, phone, keyword, status, create_by, create_time, update_by, update_time, remark from pill_factory
    </sql>

    <select id="selectPillFactoryList" parameterType="PillFactory" resultMap="PillFactoryResult">
        <include refid="selectPillFactoryVo"/>
        <where>  
            <if test="factoryName != null  and factoryName != ''"> and factory_name like concat('%', #{factoryName}, '%')</if>
            <if test="factoryCode != null  and factoryCode != ''"> and factory_code = #{factoryCode}</if>
            <if test="contact != null  and contact != ''"> and contact = #{contact}</if>
            <if test="phone != null  and phone != ''"> and phone like concat('%', #{phone}, '%')</if>
            <if test="keyword != null  and keyword != ''"> and keyword like concat('%', #{keyword}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectPillFactoryByFactoryId" parameterType="Long" resultMap="PillFactoryResult">
        <include refid="selectPillFactoryVo"/>
        where factory_id = #{factoryId}
    </select>
        
    <insert id="insertPillFactory" parameterType="PillFactory" useGeneratedKeys="true" keyProperty="factoryId">
        insert into pill_factory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="factoryName != null">factory_name,</if>
            <if test="factoryCode != null">factory_code,</if>
            <if test="contact != null">contact,</if>
            <if test="phone != null">phone,</if>
            <if test="keyword != null">keyword,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="factoryName != null">#{factoryName},</if>
            <if test="factoryCode != null">#{factoryCode},</if>
            <if test="contact != null">#{contact},</if>
            <if test="phone != null">#{phone},</if>
            <if test="keyword != null">#{keyword},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updatePillFactory" parameterType="PillFactory">
        update pill_factory
        <trim prefix="SET" suffixOverrides=",">
            <if test="factoryName != null">factory_name = #{factoryName},</if>
            <if test="factoryCode != null">factory_code = #{factoryCode},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="keyword != null">keyword = #{keyword},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where factory_id = #{factoryId}
    </update>

    <delete id="deletePillFactoryByFactoryId" parameterType="Long">
        delete from pill_factory where factory_id = #{factoryId}
    </delete>

    <delete id="deletePillFactoryByFactoryIds" parameterType="String">
        delete from pill_factory where factory_id in 
        <foreach item="factoryId" collection="array" open="(" separator="," close=")">
            #{factoryId}
        </foreach>
    </delete>
</mapper>